<div class='container-fluid'>
    <div class="row center-col background-col">
        <div class="col-md-12">
            <h1>
            Please select a conversion option
            </h1>
        </div>
    </div>
    <div class="row center-col">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <%=link_to "Link Input Page", link_input_pages_path, class:
                'btn btn-primary landing-btn' %>
            <%=link_to "Plain Text Input Page", plain_text_inputs_path, class:
                'btn btn-primary' %>
        </div>
    </div>
</div>
