<p id="notice"><%= notice %></p>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-12'>
            <h1>Please Paste Text Below</h1>
        </div>
    </div>
<%= link_to 'Edit', edit_plain_text_input_path(@plain_text_input) %>
<%= link_to 'Back', plain_text_inputs_path %>
</div>
